RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{HTTP_HOST} ^www\.friendlytapirs\.nl [NC]
RewriteRule ^(.*)$ https://friendlytapirs.nl/$1 [L,R=301]